@use 'breakpoints';

.container {
    width: 70vw;
    margin: -32px auto auto;
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: arial;
    color: #333;
    @include breakpoints.extra-small-only {
        width: 90vw;
    }
}

form {
    padding: 0;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    @include breakpoints.small-up {
        border: 1px solid #ddd;
    }
}

.form-group {
    width: 80%;
    @include breakpoints.extra-small-only {
        width: 90%;
    }
    max-width: 40rem;
    margin: 0.5rem auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .clue {
        color: #666;
    }
    .right {
        grid-column: 2 / 4;
    }
    .wide {
        grid-column: 1 / 4;
    }
    .dropdown {
        max-width: 20rem;
    }
    .input-text-area {
        height: 5em;
    }
}

.text-center {
    text-align: center;
}

.description {
    margin-top: -1rem;
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
}

.submit-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}
