body {
    font-family: arial;
    color: #333;
}

.container {
    width: 70vw;
    margin: -32px auto auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

form {
    padding: 0;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    border: 1px solid #ddd;
}

.form-group {
    width: 80%;
    max-width: 40rem;
    margin: 0.5rem auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text-center {
    text-align: center;
}

.description {
    margin-top: -1rem;
    font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
}

.clue {
    color: #666;
}

.wide {
    grid-column: 1 / 4;
}

.dropdown {
    max-width: 20rem;
}

.submit-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}

.right {
    grid-column: 2 / 4;
}

.input-text-area {
    height: 5em;
}

